<!--"Tech Section"-->
<section id="tech" class="bg-light-gray">
	<div class="container tech-container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2 class="section-heading">{{ with .Site.Params.tech.title }}{{ . | markdownify }}{{ end }}</h2>
				<h3 class="section-subheading text-muted">{{ with .Site.Params.tech.subtitle }}{{ . | markdownify }}{{ end }}</h3>
			</div>
		</div>
		<section class="row tech_list">
			<article class="tech_cat basics">
				<h3 class="lr-title">Basics</h3>
				<ul class="logo_list">
					<li>
						<div class="logo_overlay">HTML5</div>
						<img class="tech-logo tl-big" src="img/logos/tech-logos/html5-color.svg" />
					</li>
					<li>
						<div class="logo_overlay">CSS5</div>
						<img class="tech-logo tl-big" src="img/logos/tech-logos/css3-color.svg" />
					</li>
					<li>
						<div class="logo_overlay">JAVASCRIPT</div>
						<img class="tech-logo tl-big" src="img/logos/tech-logos/JavaScript_logo.svg" />
					</li>
					<li>
						<div class="logo_overlay">J-QUERY</div>
						<img class="tech-logo tl-big" src="img/logos/tech-logos/jquery.svg" />
					</li>
					<li>
						<div class="logo_overlay">ES6</div>
						<img class="tech-logo tl-big" src="img/logos/tech-logos/es6.svg" />
					</li>
				</ul>
			</article>
			<article class="tech_cat design">
				<h3 class="lr-title">Design & Styling</h3>
				<ul class="logo_list">
					<li>
						<div class="logo_overlay">SKETCH</div>
						<img class="tech-logo tl-big" src="img/logos/tech-logos/sketch.svg" />
					</li>
					<li>
						<div class="logo_overlay">ZEPLIN</div>
						<img class="tech-logo tl-big" src="img/logos/tech-logos/Zeplin.svg" />
					</li>
					<li>
						<div class="logo_overlay">ADOBE XD</div>
						<img class="tech-logo tl-big" src="img/logos/tech-logos/adobe-xd.svg" />
					</li>
					<li>
						<div class="logo_overlay">SASS</div>
						<img class="tech-logo tl-big" src="img/logos/tech-logos/sass-color.svg" />
					</li>
					<li>
						<div class="logo_overlay">
							<div>CSS</div>
							<div>MODULES</div>
						</div>
						<img class="tech-logo tl-big" src="img/logos/tech-logos/css_modules.svg" />
					</li>
				</ul>
			</article>
			<article class="tech_cat framworks">
				<h3 class="lr-title">Frameworks</h3>
				<ul class="logo_list">
					<li>
						<div class="logo_overlay">REACT</div>
						<img class="tech-logo tl-big" src="img/logos/tech-logos/react.svg" />
					</li>
					<li>
						<div class="logo_overlay">REACT NATIVE</div>
						<img class="tech-logo tl-big" src="img/logos/tech-logos/react-native.png" />
					</li>
					<li>
						<div class="logo_overlay">REDUX</div>
						<img class="tech-logo tl-big" src="img/logos/tech-logos/redux.svg" />
					</li>
					<li>
						<div class="logo_overlay">REACT ROUTER</div>
						<img class="tech-logo tl-big" src="img/logos/tech-logos/react-router.svg" />
					</li>
					<li>
						<div class="logo_overlay">ELECTRON</div>
						<img class="tech-logo tl-big" src="img/logos/tech-logos/electron_logo.svg" />
					</li>
					<li>
						<div class="logo_overlay">EMBER</div>
						<img class="tech-logo tl-big" src="img/logos/tech-logos/ember-tomster.svg" />
					</li>
				</ul>
			</article>
			<article class="tech_cat backend">
				<h3 class="lr-title">Backend</h3>
				<ul class="logo_list">
					<li>
						<div class="logo_overlay">NODE</div>
						<img class="tech-logo tl-big" src="img/logos/tech-logos/node.svg" />
					</li>
					<li>
						<div class="logo_overlay">MONGO DB</div>
						<img class="tech-logo tl-big" src="img/logos/tech-logos/mongodb.svg" />
					</li>
					<li>
						<div class="logo_overlay">FIREBASE</div>
						<img class="tech-logo tl-big" src="img/logos/tech-logos/firebase.svg" />
					</li>
					<li>
						<div class="logo_overlay">LEVEL DB</div>
						<img class="tech-logo tl-big" src="img/logos/tech-logos/leveldb.svg" />
					</li>
				</ul>
			</article>
			<article class="tech_cat backend">
				<h3 class="lr-title">Tooling</h3>
				<ul class="logo_list">
					<li>
						<div class="logo_overlay">DOCKER</div>
						<img class="tech-logo tl-big" src="img/logos/tech-logos/docker.svg" />
					</li>
					<li>
						<div class="logo_overlay">FLOW</div>
						<img class="tech-logo tl-big" src="img/logos/tech-logos/flow.svg" />
					</li>
					<li>
						<div class="logo_overlay">HEROKU</div>
						<img class="tech-logo tl-big" src="img/logos/tech-logos/heroku.svg" />
					</li>
					<li>
						<div class="logo_overlay">GITHUB</div>
						<img class="tech-logo tl-big" src="img/logos/tech-logos/github-octocat.svg" />
					</li>
					<li>
						<div class="logo_overlay">WEBPACK</div>
						<img class="tech-logo tl-big" src="img/logos/tech-logos/webpack_wordless.svg" />
					</li>
					<li>
						<div class="logo_overlay">ESLINT</div>
						<img class="tech-logo tl-big" src="img/logos/tech-logos/eslint.svg" />
					</li>
				</ul>
			</article>
		</section>
	</div>
</section>